@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.otf");
}

body {
  --link: #000;
  --background-color: #fefefe;
  --text-color: var(--link);
  --visibility: hidden;

  font-family: "Poppins";
  color: var(--text-color);
  background-color: var(--background-color);
}

.dark {
  --background-color: #000;
  --link: #fefefe;
  --visibility: visible;
}

.btn-back {
  position: absolute;
  top: 10px;
  left: 0px;
  margin-left: 30px;
}

.btn-back:hover {
  cursor: pointer;
}

#toggle-container {
  position: absolute;
  top: 5px;
  right: 10px;
}

#moon, #sun {
  position: absolute;
  top: 5px;
  right: 10px;
}

#sun {
  visibility: var(--visibility);
}

label {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  width: 50px;
}

input {
  visibility: hidden;
}

.div {
  margin-top: 8%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

@media (max-width: 500px) {
  .btn-back {
    width: 30px;
    top: -5px;
    left: -20px;
  }

  .div {
    padding: 40px;
  }
}
